{% extends "index.html" %}
{% block content %}
<section class="lesson-box">
  <div class="lesson-box-title"><h2>Stage 5: The Next Step</h2></div>
  <div class="lesson-box-content">
		<h3>Front End Web development</h3>
		<p>
			In <em>Intro to HTML and CSS</em>, I learned:
		</p>
		<ul>
			<li>To structure a page with a grid layout</li>
			<li>Working with a mock-up</li>
			<li>An introduction to Bootstrap and frameworks in general</li>
		</ul>
		<p>
			Additional resources I used for this was the <a href="http://getbootstrap.com/css/#overview">Bootstrap documentation.</a> 
		</p>
		<hr>
		<h3>Responsive Web Design</h3>
		<p>
			In <em>Responsive Web Design Fundamentals</em>, I learned:
		</p>
		<ul>
			<li>Why it's important to think about how content look on different devices and screens</li>
			<li>What different tools are available to test how content look on different devices</li>
			<li>About <em>Hardware pixels, Device independent pixels, viewport</em> and <em>pixel ratios</em></li>
			<li>How to make pages scale better using relative widths</li>
			<li>How to work with <em>Media queries</em>, <em>Flex box</em> and <em>Breakpoints</em> to make responsive pages</li>
		</ul>
		<p>
			Additionally, I've changed the design on this website to be more responsive. The <em>Breakpoints</em> are at 700px and 960px. The recourses I used was mainly: <a href="http://www.w3schools.com/">w3cschools.com</a> and <a href="http://stackoverflow.com/">stackoverflow</a>, as well as the lessons from <a href="https://generalassemb.ly/">General Assembly</a> on responsive design.
		</p>
		<hr>
		<h3>JavaScript</h3>
		<p>
			In <em>JavaScript Basics</em>, I learned:
		</p>
		<ul>
			<li>To work with the console.log() to debug and check code</li>
			<li>How to create variables, arrays and objects</li>
			<li>The basics of JSON (JavaScript Object Notation)</li>
			<li>To use <em>general expressions</em> to work with strings</li>
			<li>The difference with dot notation and bracket notation</li>
			<li>To work with <b>if</b>, <b>while</b> and <b>for</b> statements in JavaScript</li>
			<li>To create functions and working with jQuery</li>
			<li>What <em>Encapsulation</em> means</li>
		</ul>
		<p>
			Recourses I used to solve the quizzes and further my understanding were: <a href="http://www.json.org">json.org</a> and <a href="https://developer.mozilla.org">MDN</a>. Additionally, I added a JavaScript navigation bar for the small screens layout.
		</p>
		<hr>
		<h3>Intro to jQuery</h3>
		<p>
			In <em>Intro to jQuery</em>, I learned:
		</p>
		<ul>
			<li>That jQuery is a JavaScript library</li>
			<li>How to navigate the DOM with traversal methods</li>
			<li>How to manipulate the DOM with jQuery</li>
			<li>To use the jQuery documentation for reference</li>
		</ul>
		<p>
			To solve the quizzes I used the <a href="http://api.jquery.com">jQuery Documentation</a>.
		</p>
		<hr>
		<h3>Intro to AJAX</h3>
		<p>
			In <em>Intro to AJAX</em>, I learned:
		</p>
		<ul>
			<li>What AJAX is and what it can be used for</li>
			<li>To send AJAX requests</li>
			<li>To incorporate APIs on a website</li>
			<li>To parse JSON responses and to use the data received</li>
		</ul>
		<p>
			For this course I also used the <a href="http://api.jquery.com">jQuery Documentation</a>.
		</p>
		<hr>
		<h3>Web Development</h3>
		<p>
			In general, a lot of things were brush-ups on what I learned in Stage 4, most of which would actually have been very useful for that stage. There were a lot of things that became clear now that I was struggling with then. The additional things I learned in this course were:
		</p>
		<ul>
			<li>What Cookies are and how to use them</li>
			<li>How Hashing is usefully and how it can be applied to increase security</li>
			<li>&quot;Hashing&quot; and &quot;Salting&quot; passwords</li>
			<li><em>Bcrypt</em> and <em>HTTPS</em></li>
			<li><em>Caching</em>, <em>Memcached</em> and a better understanding of how servers, apps and databases interact</li>
		</ul>
		<p>
			Additionally, I've included caching in my own Web App.
		</p>
		<hr>
		<h3>Intro to Relational Databases</h3>
		<p>
			In <em>Intro to Relational Databases</em>, I learned:
		</p>
		<ul>
			<li>How to use <em>SELECT</em> statements to get data from a DB</li>
			<li>How to do <em>Joins</em> to use multiple tables to gather data</li>
			<li>How to update and delete entries in a DB</li>
			<li>What <em>Normalized</em> table design is</li>
			<li>The concept of declared relationships using primary and foreign keys</li>
		</ul>
	</div>
</section>
{% endblock %}